/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header {
    font-family: "Syne", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header img {
    width: 75px;
    height: 75px
}